.chatContainer {
  display: flex;
  flex-direction: column;
  height: 85vh;
  margin: 10px;
  border-radius: 8px;
  background: transparent;
  font-family: sans-serif;
  overflow: hidden;
}

.chatHeader {
  font-family: "Google Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 16px;
  font-weight: bold;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 1%,
    rgba(136, 5, 157, 1) 5%,
    rgba(0, 212, 255, 1) 44%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.chatBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  overflow-y: auto;
}

.chatFooter {
  display: flex;
  padding: 0 50px;
}

.promptInput {
  flex: 1;
  width: 90%;
  padding: 8px 12px;
  border: none;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.promptInput:focus {
  border-color: #007bff;
}

/* Red text for rejection prompt */
.rejected {
  color: red;
}

.sendButton {
  display: flex;
  background-color: black;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.2s ease-in-out;
}

.sendButton:hover {
  background-color: #333;
}

.messageUser {
  align-self: flex-end;
  text-align: left;
  background-color: #d8e5fb;
  color: #333;
  padding: 12px 16px;
  margin: 8px 0;
  line-height: 1.4;
  max-width: 70%;
  border-radius: 24px 4px 24px 24px;
}

.messageBotContainer {
  display: flex;
  align-items: flex-start;
  margin: 8px 0;
}

.aiIcon {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 4px;
}

.messageBot {
  color: #333;
  padding: 10px 14px;
  text-align: left;
  width: 70%;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.inputWrapper {
  position: relative;
  display: flex;
  background-color: white;
  padding: 8px 8px;
  border: 2px solid #ddd;
  border-radius: 1000px;
  flex: 1;
}

.dropdown {
  position: absolute;
  top: -150px; /* adjust to your liking */
  max-width: 200px;
  overflow-y: auto;
  background: #333;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  z-index: 10;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.dropdownItem:hover {
  background-color: #555;
}

/* Container for the approve/reject buttons */
.approveRejectButtons {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}

.approveButton {
  display: flex;
  justify-content: center;
  gap: 4px;
  background-color: #28a7460d;
  padding: 8px 12px;
  border: 2px solid #28a745;
  border-radius: 4px;
  color: #28a745;
  cursor: pointer;
}

.rejectButton {
  display: flex;
  justify-content: center;
  gap: 4px;
  background-color: #dc35450d;
  padding: 8px 12px;
  border: 2px solid #dc3545;
  border-radius: 4px;
  color: #dc3545;
  cursor: pointer;
}

.approveRejectButtons button:hover {
  opacity: 0.9;
}

.emptyIcon {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 4px;
}
