.mainContainer {
  display: flex;
  gap: 20px;
  height: 85vh;
  position: relative;
}

.chatContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 85vh;
  margin: 10px;
  border-radius: 8px;
  background: transparent;
  font-family: sans-serif;
  overflow: hidden;
}

.noChats {
  text-align: center;
  padding-top: 160px;
}

.noChats h3 {
  font-size: 1.5rem;
}

.chatHeaderNoChats {
  font-family: "Google Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 16px;
  font-weight: bold;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 40%,
    rgba(136, 5, 157, 1) 50%,
    rgba(0, 212, 255, 1) 60%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.chatFooter {
  display: flex;
  padding: 0 50px;
}

.noChatsFooter {
  display: flex;
  padding: 0 200px;
}
