 .container {
  display: flex;
  height: 500px;
  width: 100%;
}

.flowContainer {
  flex: 1;
}

.addNodeButton {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addNodeButton:hover {
  background-color: #0056b3;
}

.addNodeButton:active {
  background-color: #003f7f;
}

.flowContainer {
  height: 560px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
 