.splitContainer {
  border-radius: 10px;
}

.tabSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.tabButton {
  width: 100%;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabButton:hover {
  background-color: #f1f1f1;
}

.tabButton.active {
  background-color: #333;
  color: #ffffff;
}

.datasetSelector {
  width: 100%;
  margin: 15px 0;
  text-align: left;
}

.datasetSelector label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.splitRowContainer {
  margin: 15px 0;
  text-align: left;
}

.splitRow {
  display: grid;
  gap: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 10px;
}

.splitRow select,
.splitRow input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 120px;
  background-color: #ffffff;
  color: #333;
}

.addressSplitContainer {
  margin: 15px 0;
}

.addressSplitContainer label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.addressSplitContainer select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  background-color: #ffffff;
  color: #333;
}

.splitColumnsInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0px;
}

.addButton {
  display: block;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-weight: bold;
  color: #ffffff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #555;
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
.submitButton{
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}