.wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  z-index: 100;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.3rem;
  background-color: #ffffff; /* var(--color-white) replaced */
  border: 1px solid #d1d5db; /* var(--color-gray-300) replaced */
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem hsla(207, 90%, 54%, 0.15); /* var(--color-primary-500-hsl-values) replaced */
}

.button {
  cursor: pointer;
}

.wrapper.hide .dropdown {
  display: none;
}
