/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  font-family: "Quicksand", sans-serif;
  margin: -8px;
  text-align: center;
  /* height: 100vh; */
  /* background-image: url("https://media.istockphoto.com/id/1405483493/vector/abstract-blue-pink-blurred-textured-background.jpg?s=612x612&w=0&k=20&c=RfHreSlUNwZBfb1O4YedHmpqkBNzc-IHMCINAIlhvVU="); */
  /* background-image: url("https://img.freepik.com/free-vector/colorful-background-with-blue-purple-swirls_483537-4253.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1728172800&semt=ais_hybrid"); */
  /* background-image: url("https://t3.ftcdn.net/jpg/05/11/03/52/360_F_511035263_v5UQodVFn2ZGQwsArjVdDevoC4sgdpOo.jpg"); */
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210115/pngtree-blue-gradient-web-ui-background-image_518658.jpg");
  background-size: cover;
}
